body {

  background-color: #171711;
  color: #ddd;
}

h1 {
  text-align: center;
  margin: 0;
}

main {
  
  max-width: 360px;
  margin: 30px auto;

}

form {
  margin-top: 20px;

}

form input {
  width: 100%;
}

form div.basics {
  display: flex;
}